@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #171a19;
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}


.captions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 70%;
    border-radius: 15px;
    border: 5px solid #ffc422;
    height: 35vh;
    padding: 30px;
    background-image: url('0965f8fd29855bf460ac53e3cdca0611.jpg');
    background-size: cover;
    background-position: center;
    color: #D5EDED;
}

.header {
    display: flex;
    font-family: "Workbench", sans-serif;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 6vh;
    color: #D5EDED;
    font-size: 65px;
    width: 80%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 20px;
    background-color: #171a19;
    font-family: "Workbench", sans-serif;
    color: #D5EDED;
}

#drake-caption {
    transition: opacity 0.6s ease-in-out;
    /* Adjust the transition timing as needed */
}

@media screen and (max-width:768px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
        align-items: center;
        background-color: #171a19;
        font-family: "Rethink Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;


    }


    .captions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        width: 80%;
        border-radius: 15px;
        border: 5px solid #ffc422;
        height: 20vh;
        padding: 30px;
        background-image: url('0965f8fd29855bf460ac53e3cdca0611.jpg');
        background-size: cover;
        background-position: center;
        color: #D5EDED;
    }

    .header {
        display: flex;
        font-family: "Workbench", sans-serif;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        height: 6vh;
        color: #D5EDED;
        font-size: 25px;
        width: 80%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-color: #171a19;
        font-family: "Workbench", sans-serif;
        font-size: 16px;
        color: #D5EDED;
    }

    #drake-caption {
        transition: opacity 0.5s ease-in-out;
        /* Adjust the transition timing as needed */
    }








}