@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #171a19;
    font-family: "Alice", serif;
    font-weight: 200;
    font-style: normal;


}


.captions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 70%;
    border-radius: 15px;
    border: 5px solid #ff7f4d;
    height: 35vh;
    padding: 30px;
    background-image: url('0965f8fd29855bf460ac53e3cdca0611.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:768px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #171a19;
        font-family: "Alice", serif;
        font-weight: 200;
        font-style: normal;


    }


    .captions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        width: 80%;
        border-radius: 15px;
        border: 5px solid #ff7f4d;
        height: 20vh;
        padding: 30px;
        background-image: url('0965f8fd29855bf460ac53e3cdca0611.jpg');
        background-size: cover;
        background-position: center;
        color: #D5EDED;
    }






}