@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;

}

.captions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url('0965f8fd29855bf460ac53e3cdca0611.jpg');
    background-size: cover;
    color: aliceblue;
    background-position: center;
    opacity: 0.7
}

@media screen and (max-width:768px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        font-family: "Alice", serif;
        font-weight: 200;
        font-style: normal;


    }


    .captions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 30px;
        background-image: url('0965f8fd29855bf460ac53e3cdca0611.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.7;
        color: rgb(0, 0, 0);
    }



}